body {
  background-color: #ffd845;
}
.logo-con {
  position: relative;
  z-index: 0;
}
header .logo {
  position: relative;
  z-index: -1;
  display: block;
  margin: auto;
  margin-top: 50px;
  max-width: 90%;
}
.logo-con .heart {
  font-size: 40px;

  color: aliceblue;
  position: absolute;
  top: -40px;
  right: 40px;
}
.logo-con .active-heart {
  color: red;
}
.active-card-heart {
  fill: red;
}

.nav input,
.nav select,
.nav button {
  width: 260px;
  border: 2px solid #000;
  outline: none;
  border-radius: 15px;
  text-align: center;
}
.nav select {
  padding-right: 40px;
}
.card-img-top {
  width: 157px !important;
  display: block;
  margin: auto;
}
.card {
  border-radius: 20px !important;
  position: relative;
}
.card .card-like {
  position: absolute;
  top: 63%;
  right: 20px;
  font-size: 28px;
}
.card .active-like {
  color: red;
}
.card .fa-trash {
  position: absolute;
  top: 65%;
}
.offcanvas-body {
  background-color: #ffeda9 !important;
}
.offcanvas-body .card {
  margin: auto !important;
  margin-top: 25px !important;
}
